<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jayshreegopalapps.imagetopdf">

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PageNumberActivity"></activity>
        <activity android:name=".IDCardActivity" />
        <activity android:name=".OCRActivity" />
        <activity android:name=".GoogleDriveLogin" />
        <activity android:name=".EsignatureActivity" />
        <activity android:name=".CustomCameraActivity" />
        <activity android:name=".OpenPDFActivity" />
        <activity android:name=".AddWatermarkActivity" />
        <activity android:name=".ImageInPDFActivity" />
        <activity android:name=".QRCodeScannerActivity" />
        <activity android:name=".OpenImageActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity android:name=".SplitByFixedRangeActivity" />
        <activity android:name=".PDFToolsActivity" />
        <activity android:name=".SplitPDFActivity" />
        <activity android:name=".PDFMergeActivity" />
        <activity android:name=".ViewPDF" />
        <activity android:name=".NavigateAllFolders" />
        <activity
            android:name=".BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation" />
        <activity android:name=".DatabaseTestActivity" />
        <activity android:name=".InsideFolderActivtiy" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    </application>

</manifest>