<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jayshreegopalapps.imagetopdf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_main"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo_main"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.jayshreegopalapps.imagetopdf.OpenImageActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4411531601838575~6354155868" />

        <activity android:name="com.jayshreegopalapps.imagetopdf.SplitByFixedRangeActivity" />
        <activity android:name="com.jayshreegopalapps.imagetopdf.PDFToolsActivity" />
        <activity android:name="com.jayshreegopalapps.imagetopdf.SplitPDFActivity" />
        <activity android:name="com.jayshreegopalapps.imagetopdf.PDFMergeActivity" />
        <activity android:name="com.jayshreegopalapps.imagetopdf.ViewPDF" />
        <activity android:name="com.jayshreegopalapps.imagetopdf.NavigateAllFolders" />
        <activity
            android:name="com.jayshreegopalapps.imagetopdf.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation" />
        <activity android:name="com.jayshreegopalapps.imagetopdf.DatabaseTestActivity" />
        <activity android:name="com.jayshreegopalapps.imagetopdf.InsideFolderActivtiy" />
        <activity android:name="com.jayshreegopalapps.imagetopdf.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jayshreegopalapps.imagetopdf.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>